{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}
{% block content %}
<h1>Dashboard</h1>
<p>Welcome, {{ username }} ({{ role }})</p>
<p>Students currently inside: {{ inside_count }}</p>

<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Enrollement No.</th>
                <th>Name</th>
                <th>Department</th>
                <th>Entry Time</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{student.enrollment_number}}</td>
                    <td>{{student.name}}</td>
                    <td>{{student.department}}</td>
                </tr>

            {% endfor %}
        </tbody>
        
    </table>
</div>


{% endblock %}